# Compiler files
contracts/cache/
contracts/out/
contracts/lib/

# Ignores development broadcast logs
contracts/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/

# Dotenv file
.env